@media (max-width: 1200px) {
    .button {
        margin-top: 7px;
        &_main {
            margin-top: 60px;
        }
    }  
    .consultation {
        .title_left {
            font-size: 30px;
        }
    }
    .feed-form {
        margin-left: 40px;
    }
}
@media (max-width: 991px) {
    .promo {
        padding: 0 20px;
    }
    .consultation {
            padding: 50px 30px 92px;
    }
    .carousel{
        &__inner {
            width: 500px;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        &__tabs {
            margin: 50px 70px;
        }
        &-item {
            margin: 50px 40px;
        }
    }
    .review {
        margin: 30px 20px;
    }
    
}
@media (max-width: 767px) {
    .header {
        &__logo {
            width: 140px;
        }
    }
    .advant {
        &__title {
            font-size: 26px;
        }
        &__item {
            min-width: 170px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 12px;
        }
    }
}
@media (max-width: 575px) {
    .header {
        &__logo {
            width: 160px;

        }
        &__official {
            font-size: 10px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 12px;
        }
        .button {
            width: 100px;
            font-size: 8px;
        }
    }
        .promo {
            &__header {
                font-size: 30px;
            }
            &__subheader {
                font-size: 18px;
            }
            &__icon{
                width: 74px;
                font-size: 13px;
            }
        }
    .advant {
        &__title {
            font-size: 25px;
        }
        &__item {
            max-width: 170px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__descr {
            font-size: 11px;
        }
    }
    .carousel {
        &__inner {
            width: 300px;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        &__tab {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 180px;
            height: 40px;
            font-size: 12px;
            div {
              margin: 0;         
            }
        }
        &-item {
            margin: 50px 40px;
        }
        &__content_active {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .footer {
        &__info {
            width: 70%;
            max-height: fit-content;
        }
    }
}