@media (max-width: 1200px) {
    .button {
        margin-top: 7px;
        &_main {
            margin-top: 60px;
        }
    }  
}
@media (max-width: 991px) {
    .promo {
        padding: 0 20px;
    }
}
@media (max-width: 767px) {
    .header {
        &__logo {
            width: 140px;
        }
    }
    .advant {
        &__title {
            font-size: 26px;
        }
        &__item {
            min-width: 170px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 12px;
        }
    }
}
@media (max-width: 575px) {
    .header {
        &__logo {
            width: 160px;

        }
        &__official {
            font-size: 10px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 12px;
        }
        .button {
            width: 100px;
            font-size: 8px;
        }
    }
        .promo {
            &__header {
                font-size: 30px;
            }
            &__subheader {
                font-size: 18px;
            }
            &__icon{
                width: 74px;
                font-size: 13px;
            }
        }
    .advant {
        &__title {
            font-size: 25px;
        }
        &__item {
            max-width: 170px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__descr {
            font-size: 11px;
        }
    }
}